/* General styles */
body {
    background-color: #f0f0f0; /* Background color for the body */
    font-family: Arial, sans-serif; /* Specify a fallback font-family */
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* Background color for the container */
    border-radius: 15px; /* Rounded corners for the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for the container */
}

h1, h2 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 1.2em; /* Increased text size */
}

.form {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners for input fields */
}

.btn-primary {
    background-color: #007bff; /* Primary button color */
    color: #fff;
    border: none;
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3; /* Button color on hover */
}

.result {
    margin-top: 30px;
    font-weight: bold;
}
